.grid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    width: 100%;
    height: 100vh;
    background-color: rgb(177, 177, 177);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // grid-template-rows: repeat(5, 100px);
    column-gap: 1px;
    row-gap: 1px;
}

.column {
    width: 100%;
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(1) {
        margin-top: 0%;
    }
    &:nth-child(2) {
        margin-top: 50%;
    }
    &:nth-child(3) {
        margin-top: 100%;
    }
    &:nth-child(4) {
        margin-top: 150%;
    }
    &:nth-child(5) {
        margin-top: 100%;
    }
    &:nth-child(6) {
        margin-top: 50%;
    }
    &:nth-child(7) {
        margin-top: 0%;
    }
}

.item {
    width: 100%;
    height: 80px;
    background-color: $red-senai;
    border-radius: 2px;
    margin-top: 10%;
}

