// Criar as variaveis aqui
// Colors

$white-senai: #fff;
$red-senai: #e60023;
$black-senai: #111;
$gray-light-senai: #efefef;

// Timing 
$fade-duration: 1s;
$culumns-transition-delay: 0.2s;
